.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.cog__badge__more {
  position: absolute;
  display: flex;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  left: 110px;
  bottom: 30px;
}
.cog__badge__find {
  position: absolute;
  display: flex;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  left: 65px;
  bottom: 25px;
}
.cog__badge__chats {
  position: absolute;
  display: flex;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  left: 160px;
  bottom: 30px;
}
