#noLandscape {
  position: fixed;
  z-index: 98;
  background-color: yellow;
  height: 120vh;
  width: 100vw;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
@media (orientation: portrait) {
  #noLandscape {
    display: none;
  }
}
