#noMobile {
  position: fixed;
  z-index: 99;
  background-color: yellow;
  height: 120vh;
  width: 100vw;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
@media screen and (max-width: 645px) {
  #noMobile {
    display: none;
  }
}
