.friend-display-link {
  display: block;
  text-align: center;
  background-color: ghostwhite;
  padding: 15px 0px;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: -15px;
}
.friend-display-link i {
  color: rgba(0, 0, 0, 0.2);
  margin: 0px 15px;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--small-boarder);
}
.friends-screen__channel__header {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.splash-screen {
  background-color: yellow;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hidesplashscreen 3s ease-in-out forwards;
}
