@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
@import "variables.css";
@import "reset.css";
@import "status.css";
@import "login.css";
@import "nav-bar.css";
@import "user-component.css";
@import "screen__header.css";
@import "friends.css";
body {
  font-family: "Fuggles", cursive;
  font-size: 30px;
  height: 1000vh;
}
